* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid palevioletred;
}

.brand-logo {
  width: 15vw;
  height: auto;
}

.nav-items ul {
  padding: 6vh 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  list-style: none;
}

.search {
  text-align: center;
  padding: 5vh 0;
}

.search-box {
  border-radius: 50px 0 0 50px;
  height: 6.76vh;
  width: 35vw;
  padding: 10px;
  border: 1px solid black;
  font-size: 15px;
}

.search-submit {
  height: 6.77vh;
  width: 4vw;
  border-radius: 0 50px 50px 0;
  border: 1px solid black;
  background-color: white;
  border-left: none;
}

.filter {
  margin: 3vh 0;
  padding-left: 2vw;
}

.filter button {
  cursor: pointer;
  padding: 1vw;
  margin: 0 1vh;
  border: none;
  border-radius: 20px;
  transform-origin: center;
  transition: transform 0.05s ease;
}

.filter button:hover {
  transform: scale(1.05);
  background-color: palevioletred;
  color: white;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3vw 10vw;
}

.res-card {
  width: 15vw;
  height: 45vh;
  transition: transform 0.05s ease;
  margin: 1vw 2vw;
}

.res-card:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.res-img {
  width: 100%;
  height: 60%;
  border-radius: 5%;
  object-fit: cover;
}

.res-name {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.85);
}

.res-rating {
  float: left;
  padding: 0 3px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.res-dilivery-time {
  float: left;
  margin: 0 5px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.res-cusine {
  clear: both;
  font-weight: 10;
  padding-top: 4px;
  font-size: 1rem;
  color: rgba(2, 6, 12, 0.6);
}

/* Shimmer UI */

  .shimmer-search-container {
    margin-top: 35px;
    margin-left: 400px;
  }

  .shimmer-search {
    background-color: rgba(128, 128, 128, 0.4);
    height: 40px;
    width: 500px;
    border-radius: 50px;
  }

  .shimmer-btn-container {
    display: flex;
    margin-top: 30px;
    margin-left: 20px ;
  }

  .shimmer-btn {
    width: 80px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.4);
    margin: 20px;
    border-radius: 20px;
  }

  .shimmer-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .shimmer-card {
    width: 15vw;
    height: 40vh;
    background-color: rgba(128, 128, 128, 0.4);
    margin: 30px;
  }

@media (max-width: 800px) {
  .brand-logo {
    width: 40vw;
    height: auto;
  }

  .nav-items ul {
    padding: 7vw;
  }

  .search {
    padding: 3vh;
  }

  .filter {
    margin: 4vh 0;
  }

  .res-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .res-card {
    width: 30vw;
    height: 20vh;
    transition: transform 0.05s ease;
    margin: 0 5vw 3vh 5vw;
    margin-bottom: 6rem;
  }

  .res-name {
    font-weight: 700;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.85);
  }

  .res-rating {
    float: left;
    padding: 0 3px;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
  }
  .res-dilivery-time {
    float: left;
    margin: 0 5px;
    padding-top: 5px;
    font-weight: 700;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .res-cusine {
    clear: both;
    font-weight: 10;
    padding-top: 4px;
    font-size: 0.8rem;
    color: rgba(2, 6, 12, 0.6);
  }

  .shimmer {
    display: none;
  }
}
