@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
  text-align: center;
  padding: 5vh 0;
}

.search-box {
  border-radius: 50px 0 0 50px;
  height: 6.76vh;
  width: 35vw;
  padding: 10px;
  border: 2px solid rgb(244 114 182);
  font-size: 15px;
}

.search-submit {
  height: 6.77vh;
  width: 4vw;
  border-radius: 0 50px 50px 0;
  border: 2px solid rgb(244 114 182);;
  background-color: white;
  border-left: none;
}
